In [1]:
import requests #Used to service API connection
from lxml import html #Used to parse XML
from bs4 import BeautifulSoup #Used to read XML table on webpage
import pandas as pd
from common import cFunction as cf
import numpy as np
import wget
import tabula 
from tabula import wrapper

# get dataList from filesystem to load and write
#dataList = pd.read_excel("../../data/inbound/dataList.xlsx")

# get dataList from spreadsheet to load and write
dataList = pd.read_csv("https://docs.google.com/spreadsheets/d/1VngqG-m7G8k1587c21MZoheR1Fz3amp1mJtiBvA1Jb0/export?format=csv&gid=0")
print("### The total number of target data is " + str(len(dataList)))

# Filtering -> get dataList only defined url
dataList = dataList[   dataList['사이트'].notnull() ]
print(dataList[["사이트"]])
print("### The total number of filtered data is " + str(len(dataList)))

###################################################
# Filtering -> for your own object
#dataList = dataList[   dataList['번호'] == "352" ]
###################################################

# create folder to save result
outPath = "../../data/outbound/"
folderList = dataList["폴더명"].tolist()
for i in folderList:
    cf.createFolder(outPath+i)

dataList = dataList.fillna("")
dataList = dataList.reset_index(drop=True)

# get dataList to load and write
for dataCount in range(0,len(dataList)):

    inputUrl = dataList.loc[dataCount, "사이트"]
    inputKey = dataList.loc[dataCount, "서비스키"]
    inputParameter = dataList.loc[dataCount, "파라미터"]
    inputFolder = dataList.loc[dataCount, "폴더명"]
    inputFile = dataList.loc[dataCount, "서비스명"]
    inputDataType = dataList.loc[dataCount, "데이터타입"]
    inputRefUrl = dataList.loc[dataCount, "참고문서"]
    inputRefType = dataList.loc[dataCount, "참고문서타입"]
    print(inputUrl)

    url = cf.makeURL(inputUrl,inputKey,inputParameter)
    print("fullUrl is " + url)

    newDF = pd.DataFrame()
#     if (inputDataType == "xml"):
#         newDF = cf.xmlProcess(url)
    if(inputDataType == "json"):
        newDF = cf.jsonProcess(url)
    elif(inputDataType == "csv"):
        newDF = cf.csvProcess(url)
    elif(inputDataType == "pdf"):
        newDF = cf.pdfProcess(url)

    fullOutPath = outPath+inputFolder+"/"+inputFolder+inputFile+".csv"
    print(fullOutPath)

    try:
        newDF.to_csv(fullOutPath, index=False, encoding="ms949")
    except Exception as x:
        print(x)

    fullOutRefPath = outPath + inputFolder + "/" + inputFolder + inputFile + "."+inputRefType
    try:
        wget.download(inputRefUrl, fullOutRefPath)
    except Exception as e:
        print(inputFolder+"참고문서 Error")
        print(e)
        pass

ModuleNotFoundError: No module named 'common'

In [6]:
pwd

'C:\\Users\\SMART-04\\Python_Fintech\\07. 공공데이터 불러오기'

In [13]:
import common

In [14]:
import sys

In [15]:
sys.path

['',
 'C:\\ProgramData\\Anaconda3\\python36.zip',
 'C:\\ProgramData\\Anaconda3\\DLLs',
 'C:\\ProgramData\\Anaconda3\\lib',
 'C:\\ProgramData\\Anaconda3',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\SMART-04\\.ipython']

In [17]:
sys.path.append("C:/Users/SMART-04/Desktop/dataImport-master/src/preparation/common")

In [18]:
sys.path

['',
 'C:\\ProgramData\\Anaconda3\\python36.zip',
 'C:\\ProgramData\\Anaconda3\\DLLs',
 'C:\\ProgramData\\Anaconda3\\lib',
 'C:\\ProgramData\\Anaconda3',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\SMART-04\\.ipython',
 'C:/Users/SMART-04/Desktop/dataImport-master/src/preparation/common']

In [30]:
import cFunction as cf

## pdf 형식 API 파일 csv 파일로 저장

In [146]:
response = requests.get(url)
pdfLoc = "http://fsc.go.kr/downManager?bbsid=BBS0069&no=137533"
df2 = wrapper.read_pdf(pdfLoc,
              multiple_tables=True,
              pages="all",
              pandas_options={"header":0})

In [147]:
df2

[  (단위:pt)   18년말   4.16   4.22   4.23     전일비    전주비   18년말비
 0   KOSPI  2,041  2,249  2,217  2,221  +0.17%  △1.3%   +8.8%
 1  KOSDAQ    676    765    762    761  △0.08%  △0.5%  +12.7%,
    (단위:원)     18년말     4.16     4.22     4.23    전일비    전주비  18년말비
 0    원/달러  1,115.7  1,135.7  1,141.5  1,141.8  +0.0%  +0.5%  +2.3%
 1  원/100엔  1,017.1  1,014.5  1,019.9  1,020.9  +0.1%  +0.6%  +0.4%,
      (단위:%)   18년말   4.16   4.22   4.23     전일비     전주비   18년말비
 0     CD91일  1.930  1.860  1.850  1.850   0.0bp  △1.0bp  △8.0bp
 1      국고3년  1.817  1.765  1.769  1.768  △0.1bp  +0.3bp  △4.9bp
 2     국고10년  1.948  1.923  1.929  1.923  △0.6bp   0.0bp  △2.5bp
 3  회사채(AA-)  2.287  2.234  2.241  2.238  △0.3bp  +0.4bp  △4.9bp
 4   장단기스프레드   13.1   15.8   16.0   15.5  △0.5bp  △0.3bp  +2.4bp
 5    신용스프레드   47.0   46.9   47.2   47.0  △0.2bp  +0.1bp   0.0bp]

In [142]:
#각각의 표를 파일로 저장
for i in range(0, len(df2)):
    fileName = '금융시장동향' + str(i) + '.csv'
    df2[i].to_csv("../../data/outbound/" + fileName, index=False, encoding = "ms949")

In [92]:
import tabula

In [93]:
from tabula import wrapper #wrapper 로 하세요

In [94]:
pdfLoc = "http://fsc.go.kr/downManager?bbsid=BBS0069&no=137533"

In [95]:
df = wrapper.read_pdf(pdfLoc,
              multiple_tables=True,
              pages="all",
              pandas_options={"header":0})

In [130]:
pdfLoc = "../../data/inbound/190402_금융시장동향.pdf"
df = wrapper.read_pdf(pdfLoc,
              multiple_tables=True,
              pages="all",
              pandas_options={"header":0})

In [143]:
for i in df:
    print(i)

  (단위:pt)   18년말   4.16   4.22   4.23     전일비    전주비   18년말비
0   KOSPI  2,041  2,249  2,217  2,221  +0.17%  △1.3%   +8.8%
1  KOSDAQ    676    765    762    761  △0.08%  △0.5%  +12.7%
   (단위:원)     18년말     4.16     4.22     4.23    전일비    전주비  18년말비
0    원/달러  1,115.7  1,135.7  1,141.5  1,141.8  +0.0%  +0.5%  +2.3%
1  원/100엔  1,017.1  1,014.5  1,019.9  1,020.9  +0.1%  +0.6%  +0.4%
     (단위:%)   18년말   4.16   4.22   4.23     전일비     전주비   18년말비
0     CD91일  1.930  1.860  1.850  1.850   0.0bp  △1.0bp  △8.0bp
1      국고3년  1.817  1.765  1.769  1.768  △0.1bp  +0.3bp  △4.9bp
2     국고10년  1.948  1.923  1.929  1.923  △0.6bp   0.0bp  △2.5bp
3  회사채(AA-)  2.287  2.234  2.241  2.238  △0.3bp  +0.4bp  △4.9bp
4   장단기스프레드   13.1   15.8   16.0   15.5  △0.5bp  △0.3bp  +2.4bp
5    신용스프레드   47.0   46.9   47.2   47.0  △0.2bp  +0.1bp   0.0bp

In [98]:
pdfLoc = "../../data/inbound/190402_금융시장동향.pdf"
df1 = wrapper.read_pdf(pdfLoc,
              multiple_tables=True,
              pages="all")

In [99]:
for i in df1:
    print(i)

         0      1      2      3      4      5      6      7
0  (단위:pt)   18년말   3.26    4.1    4.2    전일비    전주비  18년말비
1    KOSPI  2,041  2,149  2,168  2,177  +0.4%  +1.3%  +6.7%
2   KOSDAQ    676    737    737    740  +0.4%  +0.4%  +9.5%
        0        1        2        3        4      5      6      7
0  (단위:원)     18년말     3.26      4.1      4.2    전일비    전주비  18년말비
1    원/달러  1,115.7  1,133.4  1,133.7  1,136.4  +0.2%  +0.3%  +1.9%
2  원/100엔  1,017.1  1,024.4  1,018.1  1,027.1  +0.9%  +0.3%  +1.0%
          0      1      2      3      4       5               6
0    (단위:%)   18년말   3.26    4.1    4.2     전일비       전주비 18년말비
1     CD91일  1.930  1.900  1.900  1.890  △1.0bp   △1.0bp △4.0bp
2      국고3년  1.817  1.763  1.726  1.706  △2.0bp  △5.7bp △11.1bp
3     국고10년  1.948  1.905  1.866  1.856  △1.0bp   △4.9bp △9.2bp
4  회사채(AA-)  2.287  2.217  2.197  2.178  △1.9bp  △3.9bp △10.9bp
5   장단기스프레드   13.1   14.2   14.0   15.0  +1.0bp   +0.8bp +1.9bp
6    신용스프레드   47.0   45.4   47.1   47.2  +0.1bp   +1.8bp +0.2bp

In [100]:
dfDataFrame = pd.DataFrame(df1)

In [101]:
dfDataFrame

                                                   0
0           0      1      2      3      4      5 ...
1          0        1        2        3        4 ...
2            0      1      2      3      4       ...

In [102]:
type(df1)

list

In [103]:
dfDataFrame.to_csv("../../data/outbound/190402_금융시장동향.csv", encoding = "ms949")

In [104]:
type(dfDataFrame)

pandas.core.frame.DataFrame

In [110]:
dfDataFrame[0]

0             0      1      2      3      4      5 ...
1            0        1        2        3        4 ...
2              0      1      2      3      4       ...
Name: 0, dtype: object

In [106]:
pdfLoc = "../../data/inbound/190402_금융시장동향.pdf"
df2 = wrapper.read_pdf(pdfLoc,
              multiple_tables=True,
              pages="all",
                       
              )

In [115]:
df2

[         0      1      2      3      4      5      6      7
 0  (단위:pt)   18년말   3.26    4.1    4.2    전일비    전주비  18년말비
 1    KOSPI  2,041  2,149  2,168  2,177  +0.4%  +1.3%  +6.7%
 2   KOSDAQ    676    737    737    740  +0.4%  +0.4%  +9.5%,
         0        1        2        3        4      5      6      7
 0  (단위:원)     18년말     3.26      4.1      4.2    전일비    전주비  18년말비
 1    원/달러  1,115.7  1,133.4  1,133.7  1,136.4  +0.2%  +0.3%  +1.9%
 2  원/100엔  1,017.1  1,024.4  1,018.1  1,027.1  +0.9%  +0.3%  +1.0%,
           0      1      2      3      4       5               6
 0    (단위:%)   18년말   3.26    4.1    4.2     전일비       전주비 18년말비
 1     CD91일  1.930  1.900  1.900  1.890  △1.0bp   △1.0bp △4.0bp
 2      국고3년  1.817  1.763  1.726  1.706  △2.0bp  △5.7bp △11.1bp
 3     국고10년  1.948  1.905  1.866  1.856  △1.0bp   △4.9bp △9.2bp
 4  회사채(AA-)  2.287  2.217  2.197  2.178  △1.9bp  △3.9bp △10.9bp
 5   장단기스프레드   13.1   14.2   14.0   15.0  +1.0bp   +0.8bp +1.9bp
 6    신용스프레드   47.0   45.4   47.1   47.2  +0.1bp   +1.8bp +0.2bp]

In [124]:
type(df2[0])

pandas.core.frame.DataFrame

In [128]:
#각각의 표를 파일로 저장
for i in range(0, len(df2)):
    fileName = '금융시장동향' + str(i) + '.csv'
    df2[i].to_csv("../../data/outbound/" + fileName, index=False, encoding = "ms949")

In [126]:
for i in df:
    print(i)

    KOSDAQ    676    737    737    740  +0.4%  +0.4%  +9.5%
0  (단위:pt)   18년말   3.26    4.1    4.2    전일비    전주비  18년말비
1    KOSPI  2,041  2,149  2,168  2,177  +0.4%  +1.3%  +6.7%
   원/100엔  1,017.1  1,024.4  1,018.1  1,027.1  +0.9%  +0.3%  +1.0%
0  (단위:원)     18년말     3.26      4.1      4.2    전일비    전주비  18년말비
1    원/달러  1,115.7  1,133.4  1,133.7  1,136.4  +0.2%  +0.3%  +1.9%
       국고3년  1.817  1.763  1.726  1.706  △2.0bp  △5.7bp △11.1bp
0    (단위:%)   18년말   3.26    4.1    4.2     전일비       전주비 18년말비
1     CD91일  1.930  1.900  1.900  1.890  △1.0bp   △1.0bp △4.0bp
2     국고10년  1.948  1.905  1.866  1.856  △1.0bp   △4.9bp △9.2bp
3  회사채(AA-)  2.287  2.217  2.197  2.178  △1.9bp  △3.9bp △10.9bp
4   장단기스프레드   13.1   14.2   14.0   15.0  +1.0bp   +0.8bp +1.9bp
5    신용스프레드   47.0   45.4   47.1   47.2  +0.1bp   +1.8bp +0.2bp

In [105]:
#pd.DataFrame(df1.sum(axis=1).values.tolist())

AttributeError: 'list' object has no attribute 'sum'