In [1]:
import pandas as pd

In [2]:
url = "https://www.data.go.kr/dataset/fileDownload.do?atchFileId=FILE_000000001420117&fileDetailSn=1&publicDataDetailPk=uddi:d432dc62-15e1-4698-af1d-805a2e0af6f9_201712281400"

In [3]:
data = pd.read_csv(url, encoding="ms949")

In [4]:
data.head()

     연도  월  판매금액1)  누적잔액2) 평균 대출금리3)
0  2012  3   1,336       0     5.00%
1  2012  4   3,204       0     4.97%
2  2012  5   5,046   3,609     4.77%
3  2012  6  11,390   7,199     4.62%
4  2012  7  12,563  12,817     4.49%

In [5]:
data.to_csv("./test.csv", encoding = 'ms949')