In [1]:
import pandas as pd

In [2]:
import requests
from pandas.io.json import json_normalize

In [3]:
url = 'http://kosis.kr/openapi/statisticsData.do?method=getList&apiKey=NThlOGM4MTg3YTM0ZWYxMWZmYTQzY2QxY2E0ODI0N2E=&format=json&jsonVD=Y&userStatsId=tjs0810/408/DT_30404_N0008/2/1/20190418172304&prdSe=M&newEstPrdCnt=1'

In [4]:
response = requests.get(url)
response

In [5]:
json = response.json()

In [6]:
df = json_normalize(json)
df.head()

,C1,C1_NM,C1_NM_ENG,C1_OBJ_NM,C1_OBJ_NM_ENG,C2,C2_NM,C2_NM_ENG,C2_OBJ_NM,C2_OBJ_NM_ENG,...,DT,ITM_ID,ITM_NM,ORG_ID,PRD_DE,PRD_SE,TBL_ID,TBL_NM,UNIT_NM,UNIT_NM_ENG
0,01,아파트,Apartments,주택유형,Type,a0,전국,TheWholeCountry,지역,Region,...,98.45486925,rent,월세가격,408,201903,M,DT_30404_N0008,연령별 월세가격지수,2017.11 ＝ 100.0,2017.11 ＝ 100.0
1,01,아파트,Apartments,주택유형,Type,a0,전국,TheWholeCountry,지역,Region,...,98.03958323,rent,월세가격,408,201903,M,DT_30404_N0008,연령별 월세가격지수,2017.11 ＝ 100.0,2017.11 ＝ 100.0
2,01,아파트,Apartments,주택유형,Type,a0,전국,TheWholeCountry,지역,Region,...,98.01302861,rent,월세가격,408,201903,M,DT_30404_N0008,연령별 월세가격지수,2017.11 ＝ 100.0,2017.11 ＝ 100.0
3,01,아파트,Apartments,주택유형,Type,a0,전국,TheWholeCountry,지역,Region,...,97.98746362,rent,월세가격,408,201903,M,DT_30404_N0008,연령별 월세가격지수,2017.11 ＝ 100.0,2017.11 ＝ 100.0
4,01,아파트,Apartments,주택유형,Type,a0,전국,TheWholeCountry,지역,Region,...,97.94173405,rent,월세가격,408,201903,M,DT_30404_N0008,연령별 월세가격지수,2017.11 ＝ 100.0,2017.11 ＝ 100.0

In [7]:
df.to_csv("./연령별 월세가격지수.csv",encoding="ms949")

In [8]:
pwd

'C:\\Users\\SMART-06\\Python_Fintech\\Data type and load\\Data load\\Pivot'