In [1]:
import pandas as pd
import requests
from pandas.io.json import json_normalize

In [8]:
url = "http://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey=NzFiMDQ2NWU0ZmIzODJlZDFmNWFhMmM1ODQ4ZDE0NTE=&itmId=T001+T002+T003+T004+&objL1=ALL&objL2=ALL&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&newEstPrdCnt=1&loadGubun=2&orgId=408&tblId=DT_08002_06"

In [9]:
response = requests.get(url)
response

In [10]:
json = response.json()

In [11]:
df = json_normalize(json)

In [12]:
df.head()

,C1,C1_NM,C1_OBJ_NM,C2,C2_NM,C2_OBJ_NM,DT,ITM_ID,ITM_NM,ORG_ID,PRD_DE,PRD_SE,TBL_ID,TBL_NM,UNIT_NM,UNIT_NM_ENG
0,0001,전국,지역별,0001,전체,규모별,14330.1299,T001,평균월세보증금,408,201903,M,DT_08002_06,월세가격,천원,1000 won
1,0001,전국,지역별,0001,전체,규모별,649.1362938,T002,평균월세가격,408,201903,M,DT_08002_06,월세가격,천원,1000 won
2,0001,전국,지역별,0001,전체,규모별,10643.09182,T003,중위월세보증금,408,201903,M,DT_08002_06,월세가격,천원,1000 won
3,0001,전국,지역별,0001,전체,규모별,609.2527558,T004,중위월세가격,408,201903,M,DT_08002_06,월세가격,천원,1000 won
4,0001,전국,지역별,0002,40㎡이하,규모별,7574.270755,T001,평균월세보증금,408,201903,M,DT_08002_06,월세가격,천원,1000 won

In [7]:
df.to_csv("./leasePrice.csv", index=False, encoding="ms949")