In [1]:
# 라이브러리 선언
import pandas as pd
import requests
from pandas.io.json import json_normalize

In [2]:
# 데이터 접속 주소 입력
url = 'http://kosis.kr/openapi/Param/statisticsParameterData.do?method=getList&apiKey=MjUzMTdiMjcyZjQwY2VkMWJkY2RkYTRmZDkwMWQ3ZGY=&itmId=T10+&objL1=0+&objL2=1+&objL3=&objL4=&objL5=&objL6=&objL7=&objL8=&format=json&jsonVD=Y&prdSe=M&newEstPrdCnt=3&loadGubun=1&orgId=101&tblId=DT_1G1B002'
# 정상 여부 확인 (200 정상)
response = requests.get(url)
response
# JSON 데이터 획득
json = response.json()
# PandasDataframe변환
df = json_normalize(json)
df.head()

,C1,C1_NM,C1_NM_ENG,C1_OBJ_NM,C1_OBJ_NM_ENG,C2,C2_NM,C2_NM_ENG,C2_OBJ_NM,C2_OBJ_NM_ENG,...,ITM_ID,ITM_NM,ITM_NM_ENG,ORG_ID,PRD_DE,PRD_SE,TBL_ID,TBL_NM,UNIT_NM,UNIT_NM_ENG
0,0,수주총액,Total amount of orders received,발주자별,By the kind of orderer,1,건축,Building,공종별,By the kind of construction works,...,T10,수주액,Value of order received,101,201812,M,DT_1G1B002,발주자/공종별 건설수주액(경상),백만원,Million Won
1,0,수주총액,Total amount of orders received,발주자별,By the kind of orderer,1,건축,Building,공종별,By the kind of construction works,...,T10,수주액,Value of order received,101,201901,M,DT_1G1B002,발주자/공종별 건설수주액(경상),백만원,Million Won
2,0,수주총액,Total amount of orders received,발주자별,By the kind of orderer,1,건축,Building,공종별,By the kind of construction works,...,T10,수주액,Value of order received,101,201902,M,DT_1G1B002,발주자/공종별 건설수주액(경상),백만원,Million Won

In [3]:
df.to_csv("d:/1_발주자_공종별 건설수주액(경상)_001.csv")