In [4]:
import pandas as pd
import requests 
from pandas.io.json import json_normalize
import urllib.request
import pandas as pd
import xml.etree.ElementTree as ET
from xml.etree.ElementTree import parse, Element

### 한국감정원 오피스텔 동향조사 현황

In [5]:
url = 'https://www.data.go.kr/dataset/fileDownload.do?atchFileId=FILE_000000001439364&fileDetailSn=1&publicDataDetailPk=uddi:2438e83c-e8a6-41b2-b1e1-d536ac75ffc6'

In [7]:
data = pd.read_csv(url, encoding = 'ms949')
data

,지역,2018년 01월 평균매매가격,2018년 01월 평균단위당매매가격,2018년 01월 중위매매가격,2018년 01월 중위단위당매매가격,2018년 02월 평균매매가격,2018년 02월 평균단위당매매가격,2018년 02월 중위매매가격,2018년 02월 중위단위당매매가격
0,전국,176088,4293,155641,4185,176736,4304,155747,4193
1,수도권,189101,4710,170113,4595,189929,4724,170314,4606
2,지방,121651,2546,95096,2471,121544,2544,94810,2467
3,서울,221357,5809,198135,5724,222545,5830,198280,5728
4,서울 도심권,281658,6783,265382,7090,283055,6817,266864,7090
5,서울 동북권,150520,5026,151166,4633,150719,5033,151577,4633
6,서울 서북권,200156,6085,188176,6051,200765,6106,189145,6064
7,서울 서남권,186320,4961,166027,4762,187206,4981,166027,4775
8,서울 동남권,286887,6746,240714,6790,289119,6770,240055,6783
9,부산,135070,2727,100678,2623,134988,2724,100245,2622
10,대구,91036,2280,85421,2108,90971,2279,85421,2108
11,인천,105154,2383,102270,2297,105266,2385,102270,2297
12,광주,63291,1526,53648,1402,63501,1532,53648,1401
13,대전,108002,2106,85693,2214,107657,2101,85693,2207
14,울산,108377,1945,112731,1944,108393,1944,112731,1944
15,세종,104936,4132,99537,4118,104312,4109,99537,4083
16,경기,168228,3836,150430,3669,168754,3845,150771,3693

In [10]:
data.to_csv('한국감정원 오피스텔 동향조사 현황.csv')